{% extends 'base.html' %}
{% block content %}
	<div class = "container text-center">
		{% if success %}
			<div class="alert alert-dismissible alert-success">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <p>Your post was added successfully!. Click <a href ="/view/{{post.id}}/">here</a> to read it.<p>
			</div>
		{% endif %}
		<div class = "well">
		<form class="form-horizontal" action = '/add/' method = 'post'>
			{% csrf_token %}
		  <fieldset>
		    <h2>Enter your post here!</h2>
		    
		    <div class="form-group">
		      <label for="title" class="control-label col-lg-2">Title</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="title" placeholder="Title" name = "title">
		      </div>
		    </div>
		   
		  	<div class="form-group">
		      <label for="textArea" class="col-lg-2 control-label">Full Post</label>
		      <div class="col-lg-10">
		        <textarea class="form-control" rows="10" id="textArea" name = "post" placeholder = "Your full post!"></textarea>
		      </div>
		    </div>
		    
		    <div class="form-group">
		      <div>
		        <button type="reset" class="btn btn-default">Cancel</button>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>

		  </fieldset>
		</form>
	</div>
</div>

<script>
	tinymce.init({ selector:'textArea' });
</script>

{% endblock %}